*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    .logo{
        font-size: 32px;
        color: gray;
    }
    .dashboard {
        font-size: 14px;
        padding: 10px;
        background-color: gray;
        border-radius: 100px;
        border: none;
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.btn{
    font-size: 14px;
        padding: 10px;
        background-color: gray;
        border-radius: 100px;
        border: none;
}

.controls{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    h2{
        color: gray;
    }
    .input{
        width: 300px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background-color: black;
        color: white;
    }
}

.productForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

th,td{
    border: 2px solid black;
    padding: 20px;
    width: 300px;
}

.slider{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.btnSlider{
    border-radius: 500px;
    width: 30px;
    height: 30px;
    background-color: gray;
    border: none;
}
